<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/error.css">
</head>
<body data-gr-c-s-loaded="true">
    <div class="container">
        <div class="header">
            <h1 class="header_text">Клинические рекомендации</h1>
        </div>
        <div class="error_container">
            <form class="main" action="/" method="get">
                <h1 class="error_text">Ошибка создания документа</h1>
                <h3 class="error_text">Возможно, один или несколько кодов МКБ-10 введены неверно.<br>
                    Пожалуйста, проверьте правильность написания кодов и попробуйте еще раз.
                </h3>
                <button class="to_main_button">Вернуться на главную страницу</button>
            </form>
        </div>
    </div>
</body>
</html>