<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
</head>
<body data-gr-c-s-loaded="true">
    <div class="container">
        <div class="header">
            <h1>Клинические рекомендации</h1>
            <div class="home_btn" onclick="window.location.href = '/'">
                <img class="home_icon" src="/static/home.svg">
            </div>
        </div>
        <object class="pdf_window" data='{{ url }}'
            type='application/pdf'>
        </object>
    </div>
</body>
</html>